.InputTask {
  width: 40%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0px 10px 26px 0;
  animation: anim 0.5s;
  z-index: 100;
}

.InputTask form {
  width: 100%;
}

.InputTask form input[type="text"] {
  display: inline-block;
  height: 40px;
  width: 100%;
  background: white;
  color: blue;
}

.show {
  display: block;
  background: none;
}

.hide {
  display: none;
}

@keyframes anim {
  from {
    transform: translate(100px, 0);
  }

  to {
    transform: translate(0, 0);
  }
}
