.Search {
  margin-left: auto;
  margin-right: 20px;
}

.Search form input {
  height: 30px;
  border-radius: 6px;
  border: none;
  padding-left: 10px;
  color: #2e64fe;
}

input:focus {
  outline: none;
}
