.task {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-left: 15px;
  align-items: center;
  width: 30%;
  margin: auto;
  background: white;
  color: #2e64fe;
  border: 1px solid #2e64fe;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 1.1em;
}
.task .subtitle {
  color: #6c6c66;
  text-align: right;
  font-size: 1em;
  margin-left: auto;
}

.task .title {
  text-align: left;
}
